$accent-gray: rgb(220, 224, 230);

.account-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $accent-gray;
}